 /* CUSTOM CSS by Mike */
html {
     background: url(../images/ljc_cover2.jpg) no-repeat center center fixed;
       -webkit-background-size: cover;
         -moz-background-size: cover;
           -o-background-size: cover;
             background-size: cover;
             background-position: -37px;
             background-size: 100%;
}

.main {
    width: 500;
    height: 280;
    background-color: #54463a36;
    position: absolute;
    top: 0;
    bottom: 220;
    left: 0;
    right: 0;
    margin: auto;
}

.front {
    text-align: center;
}

#title {
    font-family: "Snell Roundhand", monospace;
    font-size: 83px;
    font-weight: normal;
}

