 /* CUSTOM CSS by Mike */
html {
     background: url(../images/ljc_cover2.jpg) no-repeat center center fixed;
       -webkit-background-size: cover;
         -moz-background-size: cover;
           -o-background-size: cover;
             background-size: cover;
            background-color: #aaaaaa;
            background-blend-mode: lighten;
}

.main {
    width: 500;
    height: 350;
    background-color: #c0b4b496;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    outline-style: double;
    outline-width: medium;
}

.front {
    text-align: center;
}

#title {
    font-family: "Baskerville", monospace;
    font-size: 83px;
    font-weight: normal;
}

